[Unit]
Description=EMPLUS Vault FastAPI service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=emplus
Group=emplus
WorkingDirectory=/home/emplus/work/emplusvault
EnvironmentFile=-/home/emplus/work/emplusvault/.env
Environment="PATH=/home/emplus/.cache/pypoetry/virtualenvs/emv-tRKeAi0S-py3.11/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="RTS_APP_PORT=8763"
ExecStart=/home/emplus/.cache/pypoetry/virtualenvs/emv-tRKeAi0S-py3.11/bin/python -m emv.api.server prod -l rts
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
